<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-4">
    <div class="list-group">
      <a class="list-group-item list-group-item-action bg-dark text-white">
        <button class="btn text-white">Medicine Bazar</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button class="btn" (click)="gotoPath('/medicine/all')">Available Medicine</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button class="btn" (click)="gotoPath('/cart')">Your Cart</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button class="btn" (click)="gotoPath('/order')">Your Order</button>
      </a>
      <div class="list-group-item list-group-item-action">
        <input [(ngModel)]="searchInput" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search" (keyup)="search()">
        <button class="btn btn-outline-danger" type="submit" (click)="clear()">Clear</button>
        <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Price</th>
        <th scope="col">Add to cart</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody *ngFor="let medicine of medicines; let index = index">
      <tr>
        <th scope="row">{{index + 1}}</th>
        <td>{{medicine.name}}</td>
        <td>{{medicine.company}}</td>
        <td>{{medicine.price}}</td>
        <td>
          <button class="btn btn-primary" (click)="addToCart(medicine._id)">Add to cart</button>
        </td>
        <div *ngIf="this.cartService.items.has(this.medicine._id)">
          <td>{{this.cartService.items.get(this.medicine._id)}}</td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2 col-md-1 col-sm-1"></div>
</div>
