<div class="col">
  <div class="card h-75">
    <div class="card-body">
      <h6 class="card-title">Customer: {{order.customerId}}</h6>
      <h6 class="card-title">Phone: {{order.phone}}</h6>
      <h6 class="card-title">Status: {{order.status}}</h6>
      <h6 *ngIf="order.status!=='review'" class="card-title">Deliveryman: {{order.deliverymanId}}</h6>
      <img [src]="order.prescription" class="custom-image">
      <h6 class="card-title">Total: {{order.total}}</h6>
      <h6 class="card-title">Address: {{order.address}}</h6>
      <button *ngIf="order.status ==='review'" class="btn btn-outline-info" (click)="assignDeliveryman(order._id)">
        Assign Delivery man
      </button>
    </div>
  </div>
</div>
<modal #deliverymanModal>
  <modal-header><h6>All Doctors List</h6></modal-header>
  <modal-content>
    <div class="row row-cols-1 row-cols-md-2 g-2">
      <div *ngFor="let man of deliveryman; let i  = index">
        <div class="col">
          <div class="card h-75">
            <div class="card-body">
              <h6 class="card-title">{{man.name}}</h6>
              <h6 class="card-title">{{man.phone}}</h6>
              <button class="btn btn-outline-info" (click)="assign(man._id)">Assign
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-outline-warning" (click)="closeModal();">Close</button>
  </modal-footer>
</modal>
