<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="gotoPath('/')">Medicine Bazar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">
            <button (click)="gotoPath('/medicine/all')" class="btn btn-outline-primary">Medicines</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">
            <button (click)="gotoPath('/cart')" class="btn btn-outline-primary">Your Cart</button>
          </a>
        </li>
        <div *ngIf="isLogin && userData.role !== 'customer'">
          <li class="nav-item">
            <a class="nav-link active">
              <button (click)="gotoPath('/role')"
                      class="btn btn-outline-primary">{{userData.role.toUpperCase()}} Panel
              </button>
            </a>
          </li>
        </div>
        <div *ngIf="isLogin && userData.role !== 'doctor'">
          <li class="nav-item">
            <a class="nav-link active">
              <button (click)="gotoPath('/chat')"
                      class="btn btn-outline-primary">Doctor Consultation
              </button>
            </a>
          </li>
        </div>
        <div *ngIf="isLogin && userData.role === 'doctor'">
          <li class="nav-item">
            <a class="nav-link active">
              <button (click)="gotoPath('/chat')"
                      class="btn btn-outline-primary">Talk with Patient
              </button>
            </a>
          </li>
        </div>
        <div *ngIf="isLogin" class="align-items-end">
          <li class="nav-item">
            <a class="nav-link active alert-dark" tabindex="-1" aria-disabled="true">
              <button (click)="gotoPath('/user')" class="btn disabled">{{this.username}}</button>
            </a>
          </li>
        </div>
        <div *ngIf="!isLogin" class="align-items-end">
          <li class="nav-item">
            <a class="nav-link active">
              <button (click)="gotoPath('/auth/user')" class="btn btn-outline-success">Login</button>
            </a>
          </li>
        </div>
        <div *ngIf="isLogin" class="align-items-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="logout()" href="/">
              <button class="btn btn-outline-danger">Logout</button>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
