<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add New User</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('user')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Add New Medicine</h5>
        <button class="btn btn-outline-primary" (click)="viewDetails('add')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Out Of Stock Medicines</h5>
        <button class="btn btn-outline-danger" (click)="viewDetails('danger')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Review Consultation Requests</h5>
        <button class="btn btn-outline-secondary" (click)="viewDetails('review')">View Details</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Complete Orders</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('complete')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Pending Orders</h5>
        <button class="btn btn-outline-primary" (click)="viewDetails('pending')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Cancel Orders</h5>
        <button class="btn btn-outline-danger" (click)="viewDetails('cancel')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Complains</h5>
        <button class="btn btn-outline-danger" (click)="viewDetails('complain')">View Details</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Doctors</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('doctor')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Representatives</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('representative')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Deliveryman</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('deliveryman')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Customers</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('customer')">View Details</button>
      </div>
    </div>
  </div>
</div>
<br/>
<div *ngIf="showData === 1">
  <h2 *ngIf="!arrived">Wait for loading</h2>
  <div *ngIf="arrived">
    <app-medicine [medicines]="medicines"></app-medicine>
  </div>
</div>
<div *ngIf="showData === 2">
  <h2 *ngIf="!arrived">Wait for loading</h2>
  <div *ngIf="arrived">
    <app-order></app-order>
  </div>
</div>
<div *ngIf="showData === 3">
  <h2 *ngIf="!arrived">Wait for loading</h2>
  <div *ngIf="arrived">
    <app-user></app-user>
  </div>
</div>
<div *ngIf="showData === 4">
  <div class="row row-cols-1 row-cols-md-6 g-6">
    <div *ngFor="let request of requests; let i = index">
      <div class="col">
        <div class="card h-75">
          <div class="card-body">
            <h6 class="card-title">{{request.name}}</h6>
            <h6 class="card-title">{{request.phone}}</h6>
            <h6 class="card-title">{{request.role}}</h6>
            <button class="btn btn-outline-info" (click)="viewDoctors(request)">Assign
              Doctor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal #doctorsModal>
    <modal-header><h6>All Doctors List</h6></modal-header>
    <modal-content>
      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div *ngFor="let doctor of doctors; let i  = index">
          <div class="col">
            <div class="card h-75">
              <div class="card-body">
                <h6 class="card-title">{{doctor.name}}</h6>
                <h6 class="card-title">{{doctor.phone}}</h6>
                <button class="btn btn-outline-info" (click)="permit(doctor)">Assign
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-outline-warning" (click)="closeModal();">Close</button>
    </modal-footer>
  </modal>
</div>
