<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-4">
    <div class="list-group">
      <div class="list-group-item list-group-item-action">
        <input [(ngModel)]="searchInput" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search" (keyup)="search()">
        <button class="btn btn-outline-danger" type="submit" (click)="clear()">Clear</button>
        <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Generic</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Pack Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Details</th>
      </tr>
      </thead>
      <tbody *ngFor="let medicine of medicines; let index = index">
      <tr>
        <th scope="row">{{index + 1}}</th>
        <td><img [src]="medicine.img" alt="medicine image" width="64" height="64"></td>
        <td>{{medicine.name}}</td>
        <td>{{medicine.company}}</td>
        <td>{{medicine.description}}</td>
        <td>{{medicine.price}}</td>
        <td>{{medicine.fullPrice}}</td>
        <td>{{medicine.count}}</td>
        <td>
          <button class="btn btn-primary" (click)="details(medicine._id)">View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2 col-md-1 col-sm-1"></div>
</div>
