<div class="row row-cols-1 row-cols-md-4 g-4">

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Complete Orders</h5>
        <button class="btn btn-outline-success" (click)="viewDetails('complete')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Pending Orders</h5>
        <button class="btn btn-outline-primary" (click)="viewDetails('pending')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Cancel Orders</h5>
        <button class="btn btn-outline-danger" (click)="viewDetails('cancel')">View Details</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Review Orders</h5>
        <button class="btn btn-outline-danger" (click)="viewDetails('review-order')">View Details</button>
      </div>
    </div>
  </div>
</div>
<br/>
<div *ngIf="showData === 2">
  <h2 *ngIf="!arrived">Wait for loading</h2>
  <div *ngIf="arrived">
    <div class="row row-cols-1 row-cols-md-6 g-6">
      <div *ngFor="let order of orders; let i = index">
        <app-order [order]="order"></app-order>
      </div>
    </div>
  </div>
</div>
